<section class="section hero wf-section">
  <div class="container-default w-container">
    <div class="mobile-max-width-660px mobile-center-element">
      <p class="logo">autotme</p>
      <div class="split-content-wrapper">
        <div class="split-content hero-left">
          <h1>The best place to automate your Telegram channel</h1>
          <p
            class="margin-bottom-40px"
            style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
          >
            Lorem ipsum dolor sit amet consectetur adipiscing elit feugiat purus
            suscipit turpis
            <span
              data-w-id="c9e0d166-632c-0ed3-8f0a-018340257a95"
              data-wf-id='["c9e0d166-632c-0ed3-8f0a-018340257a95"]'
              class="text-breaking-no-wrap"
              >sed vitae.</span
            >
          </p>
          <div class="btn-ct">
            <a href="#properties" class="button-primary w-button"
              >Start exploring</a
            >
          </div>
        </div>
        <div class="split-content hero-right">
          <div class="split-content hero-images-left">
            <div class="image-wrapper margin-bottom-26px">
              <img
                src="https://rb.gy/you5o6"
                loading="eager"
                alt=""
                class="image cover"
              />
              <div class="img-popover-label">Setup smart messages</div>
            </div>

            <div class="image-wrapper margin-bottom-26px">
              <img
                src="https://rb.gy/fmqwg9"
                loading="eager"
                alt=""
                class="image cover"
              />
              <div class="img-popover-label">Influencer marketing campaign</div>
            </div>
          </div>
          <div
            class="split-content hero-images-right"
            style="will-change: opacity, transform; opacity: 0.98002; transform: translate3d(0px, -1.73826%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
          >
            <div class="image-wrapper margin-bottom-26px">
              <div class="image cover"></div>
            </div>
            <div class="image-wrapper margin-bottom-26px">
              <img
                src="https://rb.gy/8jzowm"
                loading="eager"
                data-wf-id='["c9e0d166-632c-0ed3-8f0a-018340257aa2"]'
                data-w-id="c9e0d166-632c-0ed3-8f0a-018340257aa2"
                alt=""
                class="image cover"
              />
              <div class="img-popover-label">Social media automation</div>
            </div>
            <div
              data-w-id="c9e0d166-632c-0ed3-8f0a-018340257aa3"
              data-wf-id='["c9e0d166-632c-0ed3-8f0a-018340257aa3"]'
              class="image-wrapper margin-bottom-26px"
            >
              <img
                src="https://rb.gy/dtb4bv"
                loading="eager"
                data-wf-id='["c9e0d166-632c-0ed3-8f0a-018340257aa4"]'
                data-w-id="c9e0d166-632c-0ed3-8f0a-018340257aa4"
                alt=""
                class="image cover"
              />
              <div class="img-popover-label">Existing affiliate promotion</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
