.section.hero {
  overflow: hidden;
  padding-top: 0px;
  padding-bottom: 0px;
}

.container-default {
  max-width: 1318px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
}

.split-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.split-content.hero-left {
  position: relative;
  z-index: 1;
  max-width: 39%;
  margin-right: 40px;
}
.logo {
  position: absolute;
  font-size: 28px;
  color: hsla(0, 92%, 65.69%, 1);
}
.w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898ec;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}
:root {
  --swatch_ca76be6e: hsla(0, 92%, 65.69%, 1);
  --swatch_d94963dc: hsla(240, 1.45%, 13.53%, 1);
  --swatch_764e99f2: hsla(250, 3.03%, 38.82%, 1);
  --swatch_48604c15: hsla(240, 1.79%, 56.08%, 1);
  --swatch_f1625bf3: hsla(0, 0%, 71.76%, 1);
  --swatch_7f55419f: hsla(0, 0%, 91.37%, 1);
  --swatch_fdda315a: hsla(0, 0%, 96.47%, 1);
  --swatch_d4d76636: hsla(0, 0%, 97.65%, 1);
  --swatch_bdfdaccd: hsla(240, 0%, 100%, 1);
  --swatch_b558c384: rgba(20, 20, 43, 0.07);
  --swatch_002a5c2d: rgba(8, 15, 52, 0.06);
  --swatch_16ae5749: rgba(20, 20, 43, 0.09);
  --swatch_4128ace2: rgba(0, 0, 0, 0.14);
}
.button-primary.-wfp-hover,
.button-primary:hover {
  background-color: hsla(0, 92%, 65.69%, 1);
  transform: scale3d(0.95, 0.95, 1.01);
  color: hsla(240, 0%, 100%, 1);
}
.image-wrapper:hover .img-popover-label{
  background-color: hsla(0, 92%, 65.69%, 1);;
}
.img-popover-label {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: hsla(240, 1.45%, 13.53%, 1);
  opacity: 0.7;
  font-size: 18px;
  color: white;
  padding: 20px 20px;
  line-height: 1.111em;
  font-weight: 600;
}

.button-primary {
  padding: 20px 40px;
  border-radius: 12px;
  background-color: hsla(240, 1.45%, 13.53%, 1);
  transform: scale3d(1, 1, 1.01);
  transition-property: transform, background-color;
  transition-duration: 300ms, 300ms;
  transition-timing-function: ease, ease;
  color: hsla(240, 0%, 100%, 1);
  line-height: 1.111em;
  font-weight: 600;
  text-align: center;
  transform-style: preserve-3d;
}

h1 {
  margin-top: 0px;
  margin-bottom: 14px;
  color: var(--swatch_d94963dc);
  font-size: 48px;
  line-height: 1.25em;
  font-weight: 700;
}

.margin-bottom-40px {
  margin-bottom: 40px;
}

.split-content.hero-right {
  display: flex;
  width: 100%;
  max-width: 720px;
  margin-right: 0px;
  margin-bottom: 0px;
  justify-content: space-between;
  flex: 1 1 0%;
}

.split-content.hero-images-left {
  max-width: 348px;

  margin-top: 30px;
  margin-right: 26px;
}

.split-content.hero-images-right {
  max-width: 348px;
}

.image-wrapper {
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  cursor: pointer;
  transform: translate(0px, 0px);
  box-shadow: 1px 1px 10px lightgrey;
}

.image.cover {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.image-wrapper:hover {
  transform: scale3d(0.95, 0.95, 1.01);
  transition-duration: 300ms, 300ms;
  transition-timing-function: ease, ease;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.margin-bottom-26px {
  margin-bottom: 26px;
}
